
* {box-sizing: border-box;}

.topnav {
    overflow: hidden;
    border-radius: 0;
    border-color: rgba(43, 65, 65, 0.5);
    background-color: rgba(53, 65, 43, 0.5);
    margin-bottom: 70px;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #bb7d6d;
  color: white;
}

.topnav .search-container {
  float: right;
}


@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

}